<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Render函数: 什么是Render函数</title>
</head>
<body>
	<div id="app">
		<anchor :level="2" title="特性">特性</anchor>
	</div>

	<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
	<script type="text/x-template" id="anchor">
		<div>
			<h1 v-if="level === 1">
				<a :href="'#' + title"><slot></slot></a>
			</h1>
			<h2 v-if="level === 2">
				<a :href="'#' + title"><slot></slot></a>
			</h2>
			<h3 v-if="level === 3">
				<a :href="'#' + title"><slot></slot></a>
			</h3>
			<h4 v-if="level === 4">
				<a :href="'#' + title"><slot></slot></a>
			</h4>
			<h5 v-if="level === 5">
				<a :href="'#' + title"><slot></slot></a>
			</h5>
			<h6 v-if="level === 6">
				<a :href="'#' + title"><slot></slot></a>
			</h6>
 		</div>
	</script>
	<script>
		// -------------------------------app1
		Vue.component('anchor', {
			template : '#anchor',
			props : {
				level : {
					type : Number,
					required : true
				},
				title : {
					type : String,
					default : ''
				}
			}
		});

		var app = new Vue({
			el : '#app'
		});
	</script>
</body>
</html>