<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>组件详解: 组件通信</title>
</head>
<body>
	<div style="color: red">Vue.2x可以在自定义组件上使用v-model指令。</div>
	<div id="app">
		<p>总数：{{ total }}</p>
		<my-component v-model="total"></my-component>
	</div>
	<hr />

	<div style="color: red">上面的示例也可以间接地用自定义事件来实现。</div>
	<div id="app2">
		<p>总数：{{ total }}</p>
		<my-component @input="handleGetTotal"></my-component>
	</div>
	<hr />

	<div style="color: red">v-model还可以用来创建自定义的表单输入组件，进行数据双向绑定。</div>
	<div id="app3">
		<p>总数：{{ total }}</p>
		<my-component3 v-model="total"></my-component3>
		<button @click="handleReduce">-1</button>
	</div>
	<hr />

	<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
	<script>
		// -------------------------------app1
		Vue
				.component(
						'my-component',
						{
							template : '<div><button @click="handleIncrease">+1</button><button @click="handleReduce">-1</button></div>',
							data : function() {
								return {
									counter : 0
								}
							},
							methods : {
								handleIncrease : function() {
									this.counter++;
									this.$emit('input', this.counter);
								},
								handleReduce : function() {
									this.counter--;
									this.$emit('input', this.counter);
								}
							}
						});

		var app = new Vue({
			el : '#app',
			data : {
				total : 0
			}
		});

		// -------------------------------app2
		var app2 = new Vue({
			el : '#app2',
			data : {
				total : 0
			},
			methods : {
				handleGetTotal : function(total) {
					this.total = total;
				}
			}
		});

		// -------------------------------app3
		Vue.component('my-component3', {
			props : [ 'value' ],
			template : '<input :value="value" @input="updateValue">',
			methods : {
				updateValue : function(event) {
					this.counter++;
					this.$emit('input', event.target.value);
				}
			}
		});

		var app3 = new Vue({
			el : '#app3',
			data : {
				total : 10
			},
			methods : {
				handleReduce : function() {
					this.total--;
				}
			}
		});
	</script>
</body>
</html>